h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 100px;
    
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.icon {

    color: blueviolet;

}