

.name {
    font-family: 'Playfair Display SC', serif;
    font-size: large;
    text-align: center;
    font-size: 140px;
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  

     
    
}

p {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-weight: 100;
    color: #D4AF37; 
    padding-bottom: 0,8%;
    padding-top: 6%;
    font-size: 25px;
}

.mila {
    border-radius: 10px;
    opacity: 10; /* Adjust the opacity value to your liking */
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color and opacity values to your liking */
    mix-blend-mode: multiply; /* Adjust the blend mode to your liking */
  
  
    
    
}



.name-container {
    position: relative;
  }
  
  .navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-size: large;
   
}

.mila-video {

    border-radius: 10px;
    opacity: 10; /* Adjust the opacity value to your liking */
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color and opacity values to your liking */
    mix-blend-mode: multiply; /* Adjust the blend mode to your liking */
    max-width: 100%;
    height: auto;

}

.logo img {
    width: 100%;
    height: auto;
}

.row-icons {
    display: flex;
    justify-content: right;
    font-size: 40px; /* Increase the font size */
    color: #D4AF37;

 
    
    
  }
  

 
.main-images{
    justify-content: center;
    justify-self: start;
    opacity: 10; /* Adjust the opacity value to your liking */
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color and opacity values to your liking */
    mix-blend-mode: multiply; /* Adjust the blend mode to your liking */
    border-radius: 0,5%;
  
}

.container {
    justify-content: center;
    border-radius: 20px;
}





.main {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0.8;
}



.navbar-nav .nav-link {
    margin-right: 20px; /* Adjust the margin value to increase or decrease the spacing */
}


.nav {
    font-family: 'Playfair Display SC', serif;
    justify-content: right; 

}




.social i{
    justify-content: center;
    color: #D4AF37;

}

.video1 {
    padding-bottom: 5%;
}





.milita-bio {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 9%;
    padding-top: 9%;
    justify-content: left; 
    color: white;
   

}


    


.mila-image {
    max-width: 397%;
    height: auto;
    max-height: 800px; /* Adjust the value as needed */
    padding-top: 10%;
}

.back-home {

    font-family: 'Playfair Display SC', serif;
    font-size: 16px;
    text-decoration: none;
    
   

}

.sonrie {
    padding-top: 40%;
  
        max-width: 100%;
        height: auto;
        opacity: 0.8;
      }
      
      .sonrie:hover {
        opacity: 1;
      }
      



.contacto-home {


    font-family: 'Playfair Display SC', serif;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 60%;
   
}

.contra {

    font-family: 'Playfair Display SC', serif;
    text-align: center;
    color: #5F264A;
    }




    body {
        background-color: black; 
      }
      
      .about-body {
        background-image: url(/Users/nataliaviloriabarros/Desktop/MilaPage/styles/images/smiling.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      

     

      .main-body {

        background-image: url(/Users/nataliaviloriabarros/Desktop/MilaPage/styles/images/smiling.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

      }





.contrataciones {

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 9%;
    padding-top: 9%;
    justify-content: center; 
    color: goldenrod; 
    text-decoration: none;
  

}



  

  .Dios {

    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-weight: 100;
    color: rgb(84, 7, 84); 
    padding-bottom: 0,8%;
    padding-top: 6%;
    font-size: 18px;
}

 